{:apiKey "AIzaSyDuKXkn6BFqdWAHdLHofJL_cImm34j_4QU",
 :authDomain "plutonia-d41f9.firebaseapp.com",
 :projectId "plutonia-d41f9",
 :storageBucket "plutonia-d41f9.appspot.com",
 :messagingSenderId "789731516162",
 :appId "1:789731516162:web:57d6417718c89b17946c1b",
 :measurementId "G-VSDDNX3R6R"}
